.sidebar-item-agrupation-ctm .item-agrupation-active-ctm {
    background: linear-gradient(90deg, #787af1 0%, #5d55e7 100%); /* linear-gradient(90deg, #6366f1 0%, #818cf8 100%); */ 
    
    color: #fff !important;
    box-shadow: 0 2px 8px 0 rgba(99, 102, 241, 0.08);
    transition: background 0.18s, color 0.18s;
}
.sub-item-group-ctm {
    text-align: left;
}

.btn-subitems-group-parent-active {
    /* border: 2px solid #6366f1; */
    background: linear-gradient(90deg, #544ee8 0%, #3b82f6 100%);
    color: #fff !important;

}
.btn-subitems-group-parent-active.subitem-group-inner {
    
}
.bg-gradient-indigo {
    background: linear-gradient(90deg, #544ee8 0%, #3b82f6 100%);
}

/*
* Estilos para el Sidebar en Móvil (< 768px)
* Hacemos que el sidebar no ocupe toda la pantalla para una mejor UX.
*/
@media (max-width: 767px) {
    /* 
     * Apuntamos al contenedor del sidebar por su ID cuando está visible 
     * (tiene la clase 'translate-x-0').
     */

}