.btn-burguer-ctm {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    position: relative;
}

@media (min-width: 740px) {
    .btn-burguer-ctm {
        left: -1rem;
    }
}